#carouselContainer {
  text-align: center;
}

.carousel {
  display: inline-block;
  width: 75%;
  height: 520px;
}

#mapContainer {
  text-align: center;
}

#mapid {
  display: inline-block;
  height: 520px;
  width: 75%;
}

.white-text {
  color: whitesmoke;
}

.navbar-custom {
  background-color: darkolivegreen;
}


.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: wheat;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: wheat;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

.light-on-dark {
  background-color: darkslategray;
  color: wheat;
  height: 100vh;
}

.accent-color {
  background-color: green
}